@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro:wght@400;600&family=Open+Sans:ital,wght@0,300;0,500;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Press+Start+2P&display=swap');

/* Background image styling */
body {
  background-color:#f3f7f0;
  /* background-image: url("../images/background.png");
  background-size: 400px;
  background-repeat: repeat;
  background-position: -100px;
  height: 100%; */
}

main {
  background-color: #D9D9D9;
  padding: 2vw;
  margin: 4vw;
  border-radius: 10px;
  border: 2px #000 solid;
}

strong {
  font-weight: 500;
}

/* Navigation styling */
.header_content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.header_content a:visited {
  color: #000;
}

.header_content li>a {
  text-decoration: none;
  color: #000;
  display: block;
}

.header_content li {
  background-color: #fff;
}

header {
  background-color: #D9D9D9;
  padding: 2vw;
  margin: 4vw;
  border-radius: 10px;
  border: 2px #000 solid;
}

nav {
  font-family: 'Anonymous Pro', monospace;
}

#nav_one {
  display: none;
  position: absolute;
  background-color: #D9D9D9;
  border: 2px #000 solid;
  right: 6.5vw;
  top: 17vw;
  border-radius: 5px 0 5px 5px;
  width: 40%;
  height: auto;
}

#nav_one ul {
  display: flex;
  flex-direction: column;
  list-style: none;
  height: 100%;
  width: 100%;
  padding: 0px;
  margin: 0px;
  z-index: 1;
  /* justify-content: space-around; */
}

#nav_one ul li {
  text-align: center;
  padding: 10px;
  margin: 2px 4px;
  border-radius: 4px;
  border: 1px #000 solid;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 40px;
}

#nav_one ul li:hover {
  background-color: #B0C6A6;
}

#nav_two {
  display: none;
}

h1 {
  font-family: 'Anonymous Pro', monospace;
  font-size: 72px;
  text-align: center;
  font-weight: 400;
  margin: 0px;
  letter-spacing: 0.5vw;
}

.logo_link {
  width: 15%
}

.logo {
  width: 100%;
}

#hamburger {
  border-radius: 5px 5px 0px 0px;
}

#hamburger:hover {
  cursor: pointer;
}

/* footer */
/* .fa-instagram {
    color: rgb(255, 255, 255);
    background-color: #000;
} */

footer {
  position: sticky;
  bottom: 2vw;
  width: 100%;
}

i {
  color: #000;
}

.footer_links {
  display: none;
  margin: auto;
  width: 125px;
  justify-content: space-between;
  background-color: #B0C6A6;
  padding: 15px;
  border-radius: 50px;
  border: 2px #000 solid;
}

.footer_links2 {
  display: flex;
  margin: auto;
  width: 275px;
  justify-content: space-between;
  background-color: #B0C6A6;
  padding: 15px;
  border-radius: 50px;
  border: 2px #000 solid;
}

iframe {
  width: 100%;
  display: block;
  margin: auto;
  border-radius: 5px;
}

h2 {
  font-family: 'Anonymous Pro', monospace;
  font-size: 64px;
  text-align: center;
  font-weight: 400;
  margin: 0px;
  letter-spacing: 0.25vw;
  padding: 10px 0 0 0;
}

h3 {
  font-family: "Open Sans", sans-serif;
  font-size: 54px;
  text-align: center;
}

h4 {
  font-family: "Open Sans", sans-serif;
  font-size: 48px;
  font-style: italic;
  text-align: center;
}

h5 {
  font-family: 'Anonymous Pro', monospace;
  font-size: 40px;
}

h6 {
  font-family: "Open Sans", sans-serif;
  font-size: 35px;
}

p {
  font-family: 'Open Sans', sans-serif;
  font-size: 40px;
  font-weight: 300;
  letter-spacing: -0.5px;
  line-height: 1.55;
}

/* Index styling */
#chartdiv {
  width: 100%;
  height: 500px;
  max-width: 100%;
  /* z-index: -100; */
  /* background-color:#adc3e6; */
}

.about {
  margin: 10px;
  display: flex;
  flex-direction: column;
  row-gap: 15px;
}

.about>h2 {
  text-align: start;
}

/* Members page styling */
.eboard {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin: 20px;
}

.members {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin: 20px;
}

.alumni {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin: 20px;
}

.card_top {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 10px;
  padding: 10px;
}

.card_bottom {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  padding: 10px;
}

.team_card:nth-child(3n) {
  background-color: #C5D1BF;
}

.team_card:nth-child(6n + 1) {
  background-color: #909E8E;
}

.team_card:nth-child(6n + 5) {
  background-color: #8EB371;
}

.team_card {
  border-radius: 5px;
  border: 1px #000 solid;
  padding: 10px;
  margin: 10px;
  width: 98%;
  background-color: #f0f0f0;
}

.team_photo {
  width: 250px;
  height: 250px;
  object-fit: cover;
  border-radius: 100%;
}

/*contact*/
.contact_page {
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  align-items: center;
  row-gap: 30px;
  padding: 10px;
}

.interest {
  font-family: "Open Sans", sans-serif;
}

.interestContent {
  background-color: #B0C6A6;
  margin-top: 28px;
  border-radius: 15px;
  border: 1px solid black;
  padding: 10px;
  box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
}

.interestContent input[type="submit"] {
  margin-left: auto;
  margin-right: auto;
  font-family: "Open Sans", sans-serif;
  color: black;
  font-size: 25px;
  background-color: transparent;
  border-color: transparent;
  border-radius: 5px;
  margin-top: 10px;
  display: block;
}

.interestContent input[type="submit"]:hover {
  text-decoration: underline;
  cursor: pointer;
}


.interestPair {
  display: grid;
  /* Use grid layout for interestPair container */
  grid-template-columns: 1fr 8fr 0.2fr;
  /* Two columns with equal width */
  gap: 10px;
  /* Add a gap between the input elements */
  margin-top: 10px;
}

.interestPair label {
  display: flex;
  align-items: center;
}

/* .comments {
  display: flex;
  margin-top: 10px;
} */

textarea {
  width: 100%;
}

input[type="text"],
input[type="tel"],
input[type="email"] {
  width: 100%;
}

.socials {
  font-family: "Open Sans", sans-serif;
}

.socialsContent {
  margin-top: 10px;
  background-color: #B0C6A6;
  border-radius: 15px;
  border: 1px solid black;
  padding: 10px;
  box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.3);
}

.socialPair {
  display: flex;
  margin-top: 19px;
  margin-bottom: 19px;
}

.socialPair i {
  margin-right: 5px;
}

.socialPair a {
  margin-top: 10px;
  word-wrap: break-word;
  width: 83%
}

.socialLink {
  font-family: "Open Sans", sans-serif;
  color: black;
  text-decoration: none;
}

.socialLink:hover {
  text-decoration: underline;
}

.leadership {
  font-family: "Open Sans", sans-serif;
}

.leadershipContent {
  background-color: #B0C6A6;
  margin-top: 10px;
  border-radius: 15px;
  border: 1px solid black;
  padding: 10px;
  display: flex;
  flex-direction: columns;
  justify-content: center;
  flex-wrap: wrap;
  box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.3)
}

.leadership_photo {
  width: 250px;
  height: 250px;
  object-fit: cover;
  border-radius: 100%;
  margin-bottom: 8px;
}

.contact_card {
  flex-basis: 260px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 8px;
}

.contact_description {
  background-color: white;
  border-radius: 10px;
  border: 1px solid black;
  padding: 10px;
}

.role,
.contact_email {
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
}

/* projects page */

.projects ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  gap: 24px;         
  background-color:#f2f5f0; 
  padding: 30px;          
  border-radius: 20px;
  /* display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #abc3a2;
  margin-left: -13px;
  margin-right: -13px;
  margin-top: -7px;
  margin-bottom: -7px; */
}

.projects ul li {
  margin: 16x;
  background-color: #ffffff;
  width: 260px;
  padding: 16px;
  text-align: center;
  box-shadow: 0 4px 12px rgba(0,0,0,0.08);  /* soft shadow */
  transition: transform 0.2s ease,
              box-shadow 0.2s ease;
  /*Add Project Tags


  /* REMOVE DASHED BOARDER */
  /* border: 4px dashed white;
  padding: 10px;
  border-radius: 10px; */
}

.projects ul li .project_img {
  display: block;
  width: 100%;
  /* border-radius: 50px; */
}

.projects ul li .project_img:hover {
  opacity: 0.4;
}

.projects ul li a {
  display: block;
  word-wrap: break-word;
  font-family: 'Open Sans', sans-serif;
  text-decoration: none;
  font-size: 15px;
  color: black;
  margin-top: 10px;
}

.projects ul li a:hover {
  text-decoration: underline;
}

.tab {
  overflow: hidden;
  border-bottom: 1px solid #abc3a2;
}

/* Style the buttons that are used to open the tab content */
.tab button {
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  background-color: #abc3a2;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  font-family: 'Open Sans', sans-serif;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  border-top: 2px solid white;
  border-left: 2px solid white;
  border-right: 2px solid white;
  background-color: #abc3a2;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border-top: none;
}

/*Style the tags */
.tag-list {
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
  gap: 6px;
  justify-content: center;
}

.tag {
  background-color: #e7eedf;
  color: #4b4b4b;
  padding: 4px 10px;
  font-size: 12px;
  border-radius: 12px;
  display: inline-block;
  font-weight: 500;
  border: 1px solid #d4ddce;
}

/* Resources Page */

.materials {
  margin: 15px;
  list-style: square;
}

.materials>li {
  background-color: rgba(0, 0, 0, 0);
  margin: 0px 15px;
  font-family: 'Open Sans', sans-serif;
  font-size: 40px;
  font-weight: 300;
  letter-spacing: -0.5px;
  line-height: 1.55;
}

.materials>li:hover {
  cursor: pointer;
  text-decoration: underline;
}

.materials a {
  color: #000;
}

.resources-text {
  display: flex;
  row-gap: 15px;
  column-gap: 15px;
  padding: 5px 0px 0px 0px;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: center;
}

.resources {
  width: 98%;
  border: 2px solid #000;
  border-radius: 10px;
  height: auto;
  padding: 10px 40px;
}

.resources:nth-child(6n + 1) {
  background-color: #C5D1BF;
}

.resources:nth-child(3n) {
  background-color: #909E8E;
}

.resources:nth-child(6n + 5) {
  background-color: #8EB371;
}

.resources-icon-container {
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  justify-items: center;
  padding: 10px;
}

.resources-icon {
  display: none !important;
}



@media screen and (width > 475px) {

  #nav_one,
  #hamburger {
    display: none;
  }

  h1 {
    font-size: 2em;
    font-weight: 600;
  }

  h2 {
    font-size: 2em;
  }

  h3 {
    font-size: 24px;
  }

  h4 {
    font-size: 20px;
  }

  h6 {
    font-size: 17px;
  }

  p {
    font-size: 20px;
  }

  .projects ul li {
    font-size: 20px;
  }

  .materials>li {
    font-size: 20px;
  }

  .team_photo {
    width: 125px;
    height: 125px;
  }

  .header_content {
    display: grid;
    grid-template-columns: 20% 80%;
    grid-template-rows: auto auto;
    align-items: center;
  }

  .logo_link {
    grid-row: 1/2;
    grid-column: 1/2;
    width: 100%;
  }

  #nav_two {
    grid-column: 1/3;
    grid-row: 2/3;
    width: 100%;
    height: 100%;
    display: block;
  }

  #nav_two ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    padding: 0px;
    margin: 0px;
    align-items: center;
    height: 100%;
  }

  #nav_two ul li {
    font-size: 2.5vw;
    padding: 3px;
    border-radius: 4px;
    background-color: #D9D9D9;
  }

  #nav_two ul li:hover {
    text-decoration: underline;
  }

  .team_card {
    width: 250px;
  }

  .resources {
    width: 400px;
    padding: 10px;
  }

  .footer_links {
    display: flex;
  }

  .footer_links2 {
    display: none;
  }

  .leadership_photo {
    width: 180px;
    height: 180px;
  }

  .contact_description {
    background-color: white;
    border-radius: 10px;
    border: 1px solid black;
    padding: 10px;
  }

  .role,
  .contact_email {
    font-size: 12px;
  }

  .contact_card {
    flex-basis: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 8px;
  }

  .interestContent {
    margin-top: 10px;
  }

  .socialsContent {
    margin-top: 10px;
  }

  .projects ul li {
    width: 220px;
  }

  .project_img {
    width: 220px;
    height: 180px;
  }

  /* .img_border {
    width: 220px;
  } */

  .resources-icon-container {
    grid-template-columns: 1fr 3fr;
  }

  .resources-icon {
    display: block !important;
    width: 100%;
  }


}



@media screen and (width > 750px) {
  h1 {
    letter-spacing: 1vw;
    font-size: 40px;
  }

  header {
    margin: 2vw;
    padding: 1vw;
  }

  main {
    margin: 2vw;
    padding: 1vw;
  }

  .header_content {
    grid-template-columns: 1fr 6fr;
    row-gap: 10px;
  }

  .logo_link {
    grid-row: 1/3;
    width: 50%;
    justify-self: center;
  }

  #nav_two {
    grid-column: 2/3;
  }

  #nav_two ul li {
    font-size: 20px;
  }

  .header_content {
    column-gap: 2vw;
  }

  .socialPair {
    margin-top: 26px;
    margin-bottom: 26px;
  }

  .socialPair i {
    margin-right: 20px;
  }

  .projects ul li {
    width: 260px;
  }

  .project_img {
    width: 260px;
  }

  /* .img_border {
    width: 250px;
  }
 */
  .index-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
  }

  .contact_page {
    grid-template-columns: 1fr 1fr;
    column-gap: 20px;
  }

  .leadership {
    grid-column: 1/3;
  }
}